<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.homebab.users.recipe.model.dao.RecipeCommentsMapper">
  	<resultMap type="com.homebab.users.recipe.model.dto.RecipeCommentsDTO" id="recipeCommentsResultMap">
	  	<id property="cmtIdx" column="CMT_IDX"/>
	  	<result property="cmtContent" column="CMT_CONTENT"/>
	  	<result property="regDate" column="REG_DATE"/>
	  	<result property="memberIdx" column="MEMBER_IDX"/>
	  	<result property="rcpIdx" column="RCP_IDX"/>
	  	
	  	<association property="umDTO" resultMap="adminResultMap"></association>
  	</resultMap>
  	<resultMap type="com.homebab.users.member.model.dto.UsersMngDTO" id="adminResultMap">
		<id property="memberIdx" column="MEMBER_IDX"/>
		<result property="nickName" column="NICKNAME"/>
	</resultMap>
	
	<resultMap type="com.homebab.users.recipe.model.dto.RecipeCmtReportDTO" id="cmtReportResultMap">
	  	<id property="cmtIdx" column="CMT_IDX"/>
	  	<result property="regDate" column="REG_DATE"/>
	  	<result property="memberIdx" column="MEMBER_IDX"/>
	  	<result property="stateYn" column="STATE_YN"/>
  	</resultMap>
  	
  	<!-- 레시피 게시물 댓글 등록 -->
  	<insert id="commentsInsert">
  		INSERT
  		  INTO RCP_COMMENTS A
  		(
  		  A.CMT_IDX
		, A.CMT_CONTENT
		, A.REG_DATE
		, A.MEMBER_IDX
		, A.RCP_IDX
  		)
  		VALUES
  		(
  		  SEQ_CMT_IDX.NEXTVAL
  		, #{ cmtContent }
  		, SYSDATE
  		, #{ memberIdx }
  		, #{ rcpIdx } 
  		)
  	</insert>
 
 	<!-- 레시피 게시물 댓글 삭제 -->
  	<delete id="commentsDelete">
  		DELETE 
  		  FROM RCP_COMMENTS
  		 WHERE MEMBER_IDX = #{ memberIdx }
  		   AND RCP_IDX = #{ rcpIdx }
  		   AND CMT_IDX = #{ cmtIdx }	
  	</delete>
  	
  	<!-- 레시피 게시물 댓글 신고 -->
  	<insert id="insertSiren">
  		INSERT
  		  INTO CMT_REPORT A
  		(
  		  A.CMT_IDX
		, A.MEMBER_IDX
		, A.REG_DATE
		, A.STATE_YN
  		)
  		VALUES
  		(
  		  #{ cmtIdx }
  		, #{ memberIdx }
  		, SYSDATE
  		,'Y'
  		)
  	</insert>

  </mapper>