<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homebab.users.mypage.model.dao.MyPostMapper">

<resultMap type="com.homebab.users.mypage.model.dto.MyRecipeDTO" id="RecipeResultMap">
	<id property="rcpIdx" column="RCP_IDX"/>
	<result property="title" column="TITLE"/>
	<result property="memberIdx" column="MEMBER_IDX"/>
	<result property="regDate" column="REG_DATE"/>
</resultMap>

<resultMap type="com.homebab.users.mypage.model.dto.MyPostDTO" id="PostResultMap">
	<id property="fbIdx" column="FB_IDX"/>
	<result property="title" column="TITLE"/>
	<result property="regDate" column="REG_DATE"/>
	<result property="memberIdx" column="MEMBER_IDX"/>
</resultMap>

<resultMap type="com.homebab.users.mypage.model.dto.MySuggestionsDTO" id="SuggestionsResultMap">
	<id property="sgtIdx" column="SGT_IDX"/>
	<result property="title" column="TITLE"/>
	<result property="regDate" column="REG_DATE"/>
	<result property="memberIdx" column="MEMBER_IDX"/>
</resultMap>

<!-- s: 나의 게시물 수 카운트 쿼리 -->

<select id="selectRecipeTotalCount" resultType="_int">
	SELECT 
	       COUNT(*)
	       
	  FROM RECIPE
	 WHERE MEMBER_IDX = #{ loginUserIdx }      

</select>

<select id="selectPostTotalCount" resultType="_int">
	SELECT 
	       COUNT(*)
	       
	  FROM FREEBOARD
	 WHERE MEMBER_IDX = #{ loginUserIdx }      

</select>

<select id="selectSuggestionsTotalCount" resultType="_int">
	SELECT 
	       COUNT(*)
	       
	  FROM SUGGESTION
	 WHERE MEMBER_IDX = #{ loginUserIdx }      

</select>

<!-- e: count -->

<!-- s: List 조회 -->
<select id="selectRecipeList" resultMap="RecipeResultMap">
	SELECT
	       B.RCP_IDX 
         , B.RNUM
         , B.TITLE
         , B.REG_DATE
      FROM (SELECT
                   ROWNUM RNUM
                 , A.RCP_IDX  	
                 , A.TITLE
                 , A.REG_DATE
              FROM (SELECT
              	           R.RCP_IDX
                         , R.TITLE
                         , R.REG_DATE
                      FROM RECIPE R
                     WHERE R.MEMBER_IDX = #{ loginUserIdx } 	
                     ORDER BY R.REG_DATE ASC) A
             <![CDATA[
             WHERE ROWNUM <= #{ selectCriteria.endRow }  
              ) B
     WHERE B.RNUM >= #{ selectCriteria.startRow }
       ]]>

</select>

<select id="selectPostList" resultMap="PostResultMap">
		SELECT
		   B.FB_IDX
         , B.RNUM
         , B.TITLE
         , B.REG_DATE
      FROM (SELECT
                   ROWNUM RNUM
                 , A.FB_IDX
                 , A.TITLE
                 , A.REG_DATE
              FROM (SELECT
                           F.FB_IDX
                         , F.TITLE
                         , F.REG_DATE
                      FROM FREEBOARD F
                     WHERE F.MEMBER_IDX = #{ loginUserIdx } 	
                     ORDER BY F.REG_DATE ASC) A
             <![CDATA[
             WHERE ROWNUM <= #{ selectCriteria.endRow }  
              ) B
     WHERE B.RNUM >= #{ selectCriteria.startRow }
       ]]>  

</select>

<select id="selectSuggestionsList" resultMap="SuggestionsResultMap">
		SELECT
           B.RNUM
         , B.TITLE
         , B.REG_DATE
      FROM (SELECT
                   ROWNUM RNUM
                 , A.TITLE
                 , A.REG_DATE
              FROM (SELECT
                           S.TITLE
                         , S.REG_DATE
                      FROM SUGGESTION S
                     WHERE S.MEMBER_IDX = #{ loginUserIdx } 	
                     ORDER BY S.REG_DATE ASC) A
             <![CDATA[
             WHERE ROWNUM <= #{ selectCriteria.endRow }  
              ) B
     WHERE B.RNUM >= #{ selectCriteria.startRow }
       ]]>  
</select>







</mapper>