<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="config/connection-info.properties"></properties>

	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="com.homebab.admin.login.model.dao"/>
		<package name="com.homebab.admin.member.model.dao"/>
		<package name="com.homebab.admin.notice.model.dao"/>
		<package name="com.homebab.admin.blacklist.model.dao"/>
		<package name="com.homebab.admin.freeborad.model.dao"/>
		<package name="com.homebab.admin.suggestion.model.dao"/>
		<package name="com.homebab.admin.recipe.model.dao"/>
		<package name="com.homebab.users.login.model.dao"/>
		<package name="com.homebab.users.member.model.dao"/>
	    <package name="com.homebab.users.mypage.model.dao"/> 
		<package name="com.homebab.users.notice.model.dao"/>
		<package name="com.homebab.users.recipe.model.dao"/>
		<package name="com.homebab.users.suggestion.model.dao"/>
		<package name="com.homebab.users.freeboard.model.dao"/>
	</mappers>
</configuration>