@charset "UTF-8";

/* Noto Sans */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 100;
	src: url(../font/NotoSans-Thin.woff2) format('woff2'),
		url(../font/NotoSans-Thin.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 200;
	src: url(../font/NotoSans-Light.woff2) format('woff2'),
		url(../font/NotoSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 300;
	src: url(../font/NotoSans-DemiLight.woff2) format('woff2'),
		url(../font/NotoSans-DemiLight.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../font/NotoSans-Regular.woff2) format('woff2'),
		url(../font/NotoSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	src: url(../font/NotoSans-Medium.woff2) format('woff2'),
		url(../font/NotoSans-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 600;
	src: url(../font/NotoSans-Bold.woff2) format('woff2'),
		url(../font/NotoSans-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url(../font/NotoSans-Black.woff2) format('woff2'),
		url(../font/NotoSans-Black.woff) format('woff');
}

@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Thin.woff2') format('woff2'),
		url('../font/Roboto-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Light.woff2') format('woff2'),
		url('../font/Roboto-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Regular.woff2') format('woff2'),
		url('../font/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Medium.woff2') format('woff2'),
		url('../font/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Bold.woff2') format('woff2'),
		url('../font/Roboto-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Black.woff2') format('woff2'),
		url('../font/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}