<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.homebab.admin.login.model.dao.AdminLoginMapper">
 	<resultMap type="com.homebab.admin.login.model.dto.AdminDTO" id="adminResultMap">
 		<id property="memberIdx" column="MEMBER_IDX"/>
 		<result property="userId" column="USER_ID"/>
 		<result property="userPwd" column="USER_PWD"/>
 		<result property="name" column="NAME"/>
 	</resultMap>	

 
	 <select id="selectEncryptPwd" resultType="java.lang.String">
		SELECT
			   A.USER_PWD
		  FROM ADMIN_MNG A
		 WHERE A.USER_ID = #{ userId }
	 </select>
	 
	 <select id="adminLogin" resultMap="adminResultMap">
	 	SELECT
	 		   A.MEMBER_IDX
	 		 , A.USER_ID
	 		 , A.NAME
 		  FROM ADMIN_MNG A
 		 WHERE A.USER_ID = #{ userId }
	 </select>
 </mapper>