@charset "UTF-8";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#pwWrap h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

#pwWrap .pwContent,
#pwWrap .pwResetContent {
	width: 400px;
}

#pwWrap .pwContent input {
	width: 74%;
	height: 30px;
}

#pwWrap .pwContent button {
	width: 25%;
	height: 30px;
	background: #74B243;
	color: #fff;
	border: none;
	cursor: pointer;
}

#pwWrap div {
	margin-bottom: 10px;
}

#pwWrap button:hover {
	font-weight: 600;
	border: 1px solid black;
}

#pwWrap .pwResetContent input {
	width: 100%;
	height: 30px;
}

#pwWrap .pwResetContent input:first-child {
	margin-bottom: 10px;
}

#pwWrap .pwResetContent button {
	width: 100%;
	height: 30px;
	background: #74B243;
	color: #fff;
	border: none;
	margin-top: 10px;
	cursor: pointer;
}

/* .area {
  width: 400px;
  position: relative;
  margin-top: 20px;
}

.area:first-child {
  margin-top: 0;
}

.area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
}

.area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  transition: top 0.5s ease;
  opacity: 0.6;
}

.area label.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
  font-size: 10px;
}

@keyframes warning {
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
}

.area input:focus + label,
.area input:valid + label {
  top: -5px;
  font-style: 13px;
  transition: all 0.5s;
  font-size: 14px;

  color: #74B243;
}

.btn-area {
  margin-top: 30px;
}

.btn-area button {
  width: 100%;
  height: 50px;
  margin: 0px;
  color: #fff;
  background: #74B243;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}
.btn-area button:hover {
  font-weight: 600;
}
 */