<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.homebab.admin.blacklist.model.dao.AdminCmtReportMapper">
	<resultMap type="com.homebab.admin.blacklist.model.dto.AdminCmtReportListDTO" id="reportResultMap">
		<association property="cmtReportDTO" resultMap="cmtReportResultMap" />
		<association property="amDTO" resultMap="memberResultMap" />
		<association property="fbCommentsDTO" resultMap="fbCommentsResultMap" />
		<association property="rcpCommentsDTO" resultMap="rcpCommentsResultMap" />
		<association property="adminMemberMngDTO" resultMap="adminMemberMngResultMap" />
	</resultMap>
	
	<resultMap type="com.homebab.admin.member.model.dto.AdminMemberMngDTO" id="adminMemberMngResultMap">
		<result property="useYn" column="USE_YN"/>
	</resultMap>
	
	<resultMap type="com.homebab.admin.blacklist.model.dto.AdminBlacklistCmtReportDTO" id="cmtReportResultMap">
		<result property="memberIdx" column="MEMBER_IDX"/>
		<result property="cmtIdx" column="CMT_IDX"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="stateYn" column="STATE_YN"/>
	</resultMap>
	
	<resultMap type="com.homebab.admin.blacklist.model.dto.AdminBlacklistMemberDTO" id="memberResultMap">
		<result property="userId" column="USER_ID"/>
		<result property="nickName" column="NICKNAME"/>
	</resultMap>
	
	
	<resultMap type="com.homebab.admin.blacklist.model.dto.AdminBlacklistRcpCommentsDTO" id="rcpCommentsResultMap">
		<result property="cmtContent" column="CMT_CONTENT"/>
		<result property="rcpIdx" column="RCP_IDX"/>
	</resultMap>
	
	<resultMap type="com.homebab.admin.blacklist.model.dto.AdminBlacklistFbCommentsDTO" id="fbCommentsResultMap">
		<result property="fbContent" column="FB_CONTENT"/>
	</resultMap>
	
	<select id="cmtReportSelect" resultMap="reportResultMap">
		SELECT
			  	 B.MEMBER_IDX
			  	,A.CMT_IDX
				,B.USER_ID
				,B.NICKNAME
				,A.REG_DATE
				,C.CMT_CONTENT
				,C.RCP_IDX
				,D.USE_YN
		  FROM CMT_REPORT A
	  	  JOIN USERS_MNG B ON(A.MEMBER_IDX = B.MEMBER_IDX)
		  JOIN RCP_COMMENTS C ON(A.CMT_IDX = C.CMT_IDX)
		  JOIN MEMBER_MNG D ON(A.MEMBER_IDX = D.MEMBER_IDX)

		UNION

		SELECT
				 B.MEMBER_IDX
				,A.CMT_IDX
				,B.USER_ID
				,B.NICKNAME
				,A.REG_DATE
				,C.FB_CONTENT
				,D.RCP_IDX
				,F.USE_YN
				FROM CMT_REPORT A
		  JOIN USERS_MNG B ON(A.MEMBER_IDX = B.MEMBER_IDX)
		  JOIN RCP_COMMENTS D ON(A.CMT_IDX = D.CMT_IDX)
		  JOIN FB_COMMENTS C ON(A.CMT_IDX = C.CMT_IDX)
		  JOIN MEMBER_MNG F ON(A.MEMBER_IDX = F.MEMBER_IDX)
		  
	</select>
	<select id="cmtReportTotalCount" resultType="_int" parameterType="hashmap">
		SELECT
				COUNT(*)
		  FROM CMT_REPORT A
	  	  JOIN USERS_MNG B ON(A.MEMBER_IDX = B.MEMBER_IDX)
		  JOIN RCP_COMMENTS C ON(A.CMT_IDX = C.CMT_IDX)
		 <where>
		 	<if test="searchCondition == 'userId'">
		 		B.USER_ID = #{ searchValue }
		 	</if>
		 	<if test="searchCondition == 'nickName'">
		 		B.NICKNAME = #{ searchValue }
		 	</if>
		 </where>  
	</select>
	
	<delete id="adminCommentsDelete">
		DELETE FROM CMT_REPORT
		 WHERE CMT_IDX = #{ cmtIdx }
	</delete>
	
</mapper>
 
 