@charset "UTF-8";

.freeBoardHeader {
    height: 50px;
    width: 1100px;
    border-bottom: 1px solid  rgb(224, 223, 223);
}
.freeBoardHeader a {
    font-size: 25px;
    line-height: 50px;
    position: absolute;
    left: 5px;
}

.usertable {
    width: 1100px;
    margin-top: 10px;
    border-collapse: collapse;   
}

th, td{
    border-bottom: 1px solid #444444;
    padding: 0px;
}

td {
    font-size: 13px;
    text-align: center;
}

tr {
	height: 41px;
}

.alluserlistfooter {
    width: 1100px;
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
}

tr > td > a:hover {
	cursor: pointer;
	color: red;
}