<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.homebab.users.notice.model.dao.NoticeMapper">
	<resultMap type="com.homebab.users.notice.model.dto.NoticeDTO" id="noticeResultMap">
		<id property="ntcIDx" column="NTC_IDX"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="modDate" column="MOD_DATE"/>
		<result property="memberIdx" column="MEMBER_IDX"/>
	</resultMap>
	
	<select id="selectAllNoticeList" resultMap="noticeResultMap">
      SELECT      
            A.RNUM
        ,   A.NTC_IDX
        ,	A.TITLE
        ,	A.CONTENT
        ,	A.REG_DATE
        ,	A.MOD_DATE
        ,	A.MEMBER_IDX  
		    FROM  (SELECT   ROWNUM RNUM
		                ,   B.NTC_IDX
		                ,	B.TITLE
		                ,	B.CONTENT
		                ,	B.REG_DATE
		                ,	B.MOD_DATE
		                ,	B.MEMBER_IDX                     
		            FROM  (SELECT   C.NTC_IDX
		                        ,	C.TITLE
		                        ,	C.CONTENT
		                        ,	C.REG_DATE
		                        ,	C.MOD_DATE
		                        ,	C.MEMBER_IDX
		                      FROM  NOTICE_R C 
                             ORDER  BY C.NTC_IDX DESC ) B
                  <![CDATA[
                  WHERE ROWNUM <= #{ endRow }
                  ]]>
		      ) A
         WHERE A.RNUM >= #{ startRow } 
	</select>

 	<select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM NOTICE_R A
  	</select>
  	
  		<select id="selectNoticeDetail" resultMap="noticeResultMap">
        SELECT
               A.NTC_IDX
             , A.TITLE
             , A.CONTENT
             , A.REG_DATE
             , A.MOD_DATE
             , A.MEMBER_IDX
          FROM NOTICE_R A
         WHERE A.NTC_IDX = #{ ntcIDx }
	</select>	
 </mapper>