<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homebab.admin.suggestion.model.dao.AdminSuggestionMapper">
	<resultMap type="com.homebab.admin.suggestion.model.dto.AdminSuggestionsDTO" id="suggestionRestultMap">
		<id property="sgtIdx" column="SGT_IDX"/>
		<result property="title" column="TITLE"/>  
		<result property="content" column="CONTENT"/>  
		<result property="memberIdx" column="MEMBER_IDX"/>  
		<result property="answerYn" column="ANSWER_YN"/>  
		<result property="regDate" column="REG_DATE"/>  
		<result property="modDate" column="MOD_DATE"/>
		<association property="amDTO" resultMap="adminResultMap"></association>
	</resultMap>
	<resultMap type="com.homebab.admin.member.model.dto.AdminMemberDTO" id="adminResultMap">
		<id property="nickName" column="NICKNAME"/>
	</resultMap>
	
	
	<select id="allSelectSuggestion" resultMap="suggestionRestultMap">
		SELECT 
		     A.SGT_IDX,
			 A.TITLE,
			 A.CONTENT,
			 B.NICKNAME,
			 A.ANSWER_YN,
			 A.REG_DATE,
			 A.MOD_DATE
		FROM SUGGESTION A
		LEFT JOIN USERS_MNG B ON (A.MEMBER_IDX = B.MEMBER_IDX)
			ORDER BY A.SGT_IDX DESC
	</select>

	<select id="selectSuggestionDetail" resultMap="suggestionRestultMap">
        SELECT
               A.SGT_IDX
             , A.TITLE
             , A.CONTENT
             , A.REG_DATE
             , A.MOD_DATE
             , A.MEMBER_IDX
             , A.ANSWER_YN
             , B.NICKNAME
          FROM SUGGESTION A
          JOIN USERS_MNG B ON (A.MEMBER_IDX = B.MEMBER_IDX)
         WHERE A.SGT_IDX = #{ sgtIdx } 
	</select>
	
	<delete id="deleteSgtIdx" parameterType="string">
		DELETE FROM SUGGESTION
		WHERE SGT_IDX= #{dNum}
	</delete>
	

</mapper>

  